# Place in ~/.config/systemd/user/kmsproxy.service
# The run `systemctl --user enable kmsproxy.service`
# And start with `systemctl --user start kmsproxy.service`
[Unit]
Description=mTLS proxy

[Install]
WantedBy=default.target

[Service]
Type=simple
StandardError=journal
ExecStart=%h/.local/bin/step-kmsproxy-plugin \
  --cacert %h/.config/kmsproxy/kube-cluster.crt \
  --pac %h/.config/kmsproxy/ProxyAutoConfiguration.js \
  --cacert %h/.config/kmsproxy/ca.crt \
  tpmkms:name=mykey \
  %h/.config/kmsproxy/ca.key
